<html>
    <head>
        <title>Your Task</title>
    </head>
    <body>
        <p> What up Kyle?</p>


        {% if tasks is not empty %}
        <p>
            Here be your tic taks:
        </p>
            {% for tic in tasks %}
                <p>
                    {{ tic.getDescription }}
                </p>
            {% endfor %}
        {% else %}
            <p>
                No tic taks? Bad breath, dog!
            </p>
        {% endif %}
    </body>
</html>
