<html>
    <head>
        <title>Your Task</title>
    </head>
    <body>
        <p> What up Kyle?</p>

        <form action="/tasks" method="post">
            <label for="description">Enter new task description</label>
            <input type="text" name="description">
            <br>
            <label for="category">Enter the category for this task</label>
            <input type="text" name="category">
            <!-- USE DROPDOWN MENU -->

            <button type="submit">Submit</button>
        </form>

        {% if tasks is not empty %}
        <p>
            Here be your tasks:
        </p>
            {% for task in tasks %}
                <p>
                    {{ task.getDescription }}
                    {% for category in task.getCategories %}
                        <ul>
                            <li>{{ category.getName }}</li>
                        </ul>
                    {% endfor %}
                </p>
            {% endfor %}

            <form action="/delete_all_tasks" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit">Delete all tasks</button>
            </form>

        {% else %}
            <p>
                No task here!
            </p>
        {% endif %}


        <h3><a href="/">Home</a></h3>
    </body>
</html>
