<html>
    <head>
        <title>Your Task</title>
    </head>
    <body>
        <p> What up Kyle?</p>

        <form action="/tasks" method="post">
            <label for="description">Enter new task description</label>
            <input type="text" name="description">
            <br>
            <label for="category">Enter the category for this task</label>
            <input type="text" name="category">

            <button type="submit">Submit</button>
        </form>

        {% if tasks is not empty %}
        <p>
            Here be your tic taks:
        </p>
            {% for tic in tasks %}
                <p>
                    {{ tic.getDescription }} {{ tic.getCategories }}
                </p>
            {% endfor %}
        {% else %}
            <p>
                No tic taks? Bad breath, dog!
            </p>
        {% endif %}
    </body>
</html>
