<html>
    <head>
        <title>Your Categories</title>
    </head>
    <body>
        <p> What up Kyle?</p>

        <form action="/categories" method="post">
            <label for="name">Enter new category name</label>
            <input type="text" name="name">
            <button type="submit">Submit</button>
        </form>


        {% if categories is not empty %}
        <p>
            Here be your categarrrries:
        </p>
            {% for cat in categories %}
                <p>
                    {{ cat.getName }}
                </p>
            {% endfor %}
            <form action="/delete_all_categories" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete All Categories</button>
            </form>
        {% else %}
            <p>
                Y'all got no cats, dog!
            </p>
        {% endif %}
        <h3><a href="/">Home</a></h3>
    </body>
</html>
