<html>
    <head>
        <title>Your Categories</title>
    </head>
    <body>
        <h2> What up Kyle?</h2>

        <form action="/categories" method="post">
            <label for="name">Enter new category name</label>
            <input type="text" name="name">
            <br>
            <label for="task">Enter the task for this category</label>
            <input type="text" name="task" >

            <button type="submit">Submit</button>
        </form>


        {% if categories is not empty %}
        <p>
            Here are your categories:
        </p>
            {% for cat in categories %}
                <p>
                    <a href="/categories/{{cat.getId}}/edit">{{ cat.getName }}</a>
                </p>
            {% endfor %}
            <form action="/delete_all_categories" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete All Categories</button>
            </form>
        {% else %}
            <p>
                Y'all got no cats, dog!
            </p>
        {% endif %}
        <h3><a href="/">Home</a></h3>
    </body>
</html>
