<html>
    <head>
        <title>Edit Your Task</title>
    </head>
    <body>
        <h1>Edit Your Task</h1>
        <p>
            Task: {{my_task.getDescription}}
        </p>
            Categories:
            <ul>
                {% for category in categories %}
                    <li>{{ category.getName }}</li>
                {% endfor %}
            </ul>

        rename
        <form action="/tasks/{{ my_task.getId }}/edit" method="post">
            <input type="hidden" name="_method" value="patch">
            <label for="new_description">Edit description</label>
            <input type="text" name="new_description">
            <button type="submit">Submit</button>
        </form>

        new cat
        <form action="/tasks/{{ my_task.getId }}/edit" method="post">
            <input type="hidden" name="_method" value="patch">
            <label for="new_cat">Add a category</label>
            <input type="text" name="new_cat">
            <button type="submit">Submit</button>
        </form>

        remove cat
        <h3><a href="/">Home</a></h3>

    </body>
</html>
